* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    max-width: 1600px;
    margin: auto;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
header nav a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 100;
    padding: 10px 15px;
    display: inline-block;
}
header nav a:hover {
    background-color: #ddd;
}

/* MAIN */
main {
    max-width: 1600px;
    margin: auto;
}


/* BANNER */
.banner {
    display: flex;
    justify-content: space-between;
}
.banner .banner-item {
    flex: 1 1 50%;
}
.banner .banner-item img {
    display: block;
    width: 100%;
}
/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-head h2 {
    padding: 50px;
    font-weight: normal;
    font-size: 3em;
}
.about .about-img img {
    width: 300px
}
.about .about-body {
    max-width: 1000px;
}
.about .about-body p {
    text-align: center;
    padding: 50px 0 0 0;
    line-height: 1.4;
}
.about .about-body span {
    color: red;
    display: block;
    text-align: center;
    padding: 16px;
    font-size: x-large;
}
.about .about-body b {
    display: block;
    text-align: center;
    padding: 16px 0 0 0;
}

.about .about-body input {
    width: 100%;
    padding: 10px 15px;
}
.about .about-body input[type="submit"] {
    background-color: #222;
    color: white;
    margin-top: 10px;
}
.about .about-body input[type="submit"]:hover {
    background-color: #ddd;
    color: black;
}
/* FOOTER */
footer {
    max-width: 1600px;
    margin: auto;
}
footer p {
    text-align: center;
    padding: 40px;
    font-size: xx-large;
}
footer p a {
    color: black;

}
@media (max-width: 425px) {
    .banner {
        flex-direction: column;
    }
}